<!-- head area start-->
<%- include('../views/partials/head.ejs') %>
    <!-- head area end -->

    <%- include('../partials/dashbord-nav.ejs') %>
        <!-- end s-header -->

        <div class="s-content">
            <%- include('../partials/custom-alert.ejs') %>

                <div class="masonry-wrap">
                    <!-- start masonry-wrap -->
                    <div class="blog-post">
                        <h1 class="h2">Add New Post
                        </h1>
                    </div>

                    <div class="masonry">
                        <!-- start masonry -->

                        <div class="grid-sizer" style="width: 100%;">

                            <div class="post">

                                <form action="/post/edit-post/<%= post._id %> " method="POST"
                                    enctype="multipart/form-data">
                                    <div class="write">
                                        <input type="text" name="title" id="post-title" value="<%= post.title%>"
                                            class="post-title <%= error.title ? 'is-invalid': ''%> "
                                            placeholder="Post Title">
                                        <label for="" class="invalide-feedback">
                                            <%= error.title %>
                                        </label>
                                        <textarea class="body-text <%= error.body ? 'is-invalid': ''%>" name="body"
                                            id="postarea">
                                            <%=  post.body%>
                                        </textarea>
                                        <label for="" class="invalide-feedback ">
                                            <%= error.body %>
                                        </label>
                                        <div class="thumbnail">
                                            <input type="file" name="post-thumbnail" id="file" class="inputfile" />
                                            <label class="uploadfile" for="file">Choose a thumbnail</label>
                                        </div>
                                        <input type="submit" value="Update Post">
                                        <a href="/post/delete/<%=post._id  %> " class="btn" style="background-color: rgb(255 57 57 / 81%);
                                        color:  rgb(255, 255, 255); border: none;"> Delete Post</a>
                                    </div>


                                    <div class="side-bar">
                                        <div class="categories">
                                            <p>Categories</p>
                                            <hr>
                                            <div class="list-group">

                                                <div class="item">
                                                    <input type="checkbox" class="check" name="tags" id="LIFESTYLE"
                                                        value="LIFESTYLE" <%=post.tags.includes('LIFESTYLE') ? "checked"
                                                        : "" %>>
                                                    <label class="custom-control-label"
                                                        for="LIFESTYLE">LIFESTYLE</label>
                                                </div>
                                                <div class="item">
                                                    <input type="checkbox" class="check" name="tags" id="HEALTH"
                                                        value="HEALTH" <%=post.tags.includes('HEALTH') ? "checked" : ""
                                                        %>>
                                                    <label class="custom-control-label" for="HEALTH">HEALTH</label>
                                                </div>
                                                <div class="item">
                                                    <input type="checkbox" class="check" name="tags" id="FAMILY"
                                                        value="FAMILY" <%=post.tags.includes('FAMILY') ? "checked" : ""
                                                        %>>
                                                    <label class="custom-control-label" for="FAMILY">FAMILY</label>
                                                </div>
                                                <div class="item">
                                                    <input type="checkbox" class="check" name="tags" id="MANAGMENT"
                                                        value="MANAGMENT" <%=post.tags.includes('MANAGMENT') ? "checked"
                                                        : "" %>>
                                                    <label class="custom-control-label"
                                                        for="MANAGMENT">MANAGMENT</label>
                                                </div>
                                                <div class="item">
                                                    <input type="checkbox" class="check" name="tags" id="TRAVEL"
                                                        value="TRAVEL" <%=post.tags.includes('TRAVEL') ? "checked" : ""
                                                        %>>
                                                    <label class="custom-control-label" for="TRAVEL">TRAVEL</label>
                                                </div>
                                                <div class="item">
                                                    <input type="checkbox" class="check" name="tags" id="WORK"
                                                        value="WORK" <%=post.tags.includes('WORK') ? "checked" : "" %>>
                                                    <label class="custom-control-label" for="WORK">WORK</label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="thumbnail">
                                            <p>Post Thumbnail</p>
                                            <hr>


                                            <% if(post.thumbnail) {%>
                                                <img src="<%= post.thumbnail%>" alt="thumbnail">
                                                <% } else {%>

                                                    <i class="fas fa-image font-styles"></i>
                                                    <% } %>

                                        </div>


                                    </div>




                                </form>


                            </div>


                        </div>
                    </div>
                </div> <!-- end masonry-wrap -->



        </div> <!-- end s-content -->

        <%- include('../partials/footer.ejs') %>
            <!-- footer end -->
            <script
                src="https://cdn.tiny.cloud/1/39i4nzjatfn2tc29obrv4vchzh01xc9yage6hkrv1o3yweka/tinymce/5/tinymce.min.js"
                referrerpolicy="origin"></script>
            <script src="../js/textEditor.js"></script>