<!-- head area start-->
<%- include('./partials/head.ejs') %>
    <!-- head area end -->
    <!-- site header
        ================================================== -->
    <%- include('./partials/nav.ejs') %>
        <!-- end s-header -->


        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">

                <article class="column large-full entry format-standard">

                    <div class="media-wrap entry__media">
                        <div class="entry__post-thumb">
                            <% console.log(firstImageParagraph) %>
                            <% if(firstImageParagraph !== null) { %>
                                
                                <%- firstImageParagraph%>
                                
                                <% }else if(post.thumbnail){ %>

                                    <img src="<%= post.thumbnail%>" alt="post thumbnail">
                                    <% }else { %>
                                        <img src="images/thumbs/thumbnail-placeholder600.png" alt="post thumbnail">
                                    <% } %>
                        </div>
                    </div>

                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title">
                            <%=post.title%>
                        </h1>
                        <ul class="entry__header-meta">
                            <li class="author">By <a href="/author/<%= post.author._id %> ">
                                    <%=post.author.username%>
                                </a></li>
                            <li class="date">
                                <%= moment(post.createdAt) %>
                            </li>
                            <li class="cat-link">
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <% post.tags.forEach(item=> { %>
                                            <a href="/categories/<%= item%>">
                                                <%= item %>
                                            </a>
                                            <% }) %>
                                    </span>

                                </div>
                            </li>

                        </ul>
                    </div> <!-- end entry__header -->

                    <div class="entry__content">

                    


                        <%- post.body%>
                        
                          

                            <p class="entry__tags" style="margin-top: 1em;">
                                <span class="entry__tag-list">
                                    <% if(user) { %>
                                        <%if(post.likes.includes(user._id)) {%>
                                            <a  class="cursor active" id="likebtn" data-post="<%= post._id%>"><i
                                                    class="far fa-thumbs-up"></i> like
                                                <%=post.likes.length %>
                                            </a>

                                            <% }else{%>
                                                <a  class="cursor" id="likebtn" data-post="<%= post._id%>"><i
                                                        class="far fa-thumbs-up"></i> like
                                                    <%=post.likes.length %>
                                                </a>
                                                <% } %>
                                                    <% if(post.dislikes.includes(user._id)) {%>
                                                        <a class="cursor active" id="dislikebtn"
                                                            data-post="<%= post._id%>"><i
                                                                class="far fa-thumbs-down"></i>
                                                            dislike
                                                            <%=post.dislikes.length %>
                                                    </a>
                                                        <% }else{ %>
                                                            <a  class="cursor" id="dislikebtn"
                                                                data-post="<%= post._id%>"><i
                                                                    class="far fa-thumbs-down"></i> dislike
                                                                <%=post.dislikes.length %>
                                                            </a>
                                                            <% } %>

                                                                <% if(bookmarks.includes(post._id)) { %>
                                                                    <a class="bookmark-btn active"
                                                                        data-post="<%= post._id%>">
                                                                        <i class="far fa-bookmark"></i>
                                                                    </a>
                                                                    <% }else{ %>
                                                                        <a class="bookmark-btn "
                                                                            data-post="<%= post._id%>">
                                                                            <i class="far fa-bookmark"></i>
                                                                        </a>
                                                                        <% } %>


                                                                            <% }else{ %>
                                                                                <a class="cursor disabled" id="likebtn"
                                                                                    data-post="<%= post._id%>"><i
                                                                                        class="far fa-thumbs-up"></i>
                                                                                    <%=post.likes.length %> like
                                                                                </a>
                                                                                <a class="cursor disabled"
                                                                                    id="dislikebtn"
                                                                                    data-post="<%= post._id%>"><i
                                                                                        class="far fa-thumbs-down"></i>
                                                                                    <%=post.dislikes.length %> dislike
                                                                                </a>
                                                                                <p>To Like and Comment Plase <a
                                                                                        href="/auth/login">Login</a></p>



                                                                                <%}%>
                                </span>
                            </p>


                    </div>



                    <div class="entry__related">
                        <h3 class="h2">Related Articles</h3>

                        <ul class="related">
                            <li class="related__item">
                                <a href="single-standard.html" class="related__link">
                                    <img src="images/thumbs/masonry/walk-600.jpg" alt="">
                                </a>
                                <h5 class="related__post-title">Using Repetition and Patterns in Photography.</h5>
                            </li>
                            <li class="related__item">
                                <a href="single-standard.html" class="related__link">
                                    <img src="images/thumbs/masonry/dew-600.jpg" alt="">
                                </a>
                                <h5 class="related__post-title">Health Benefits Of Morning Dew.</h5>
                            </li>
                            <li class="related__item">
                                <a href="single-standard.html" class="related__link">
                                    <img src="images/thumbs/masonry/rucksack-600.jpg" alt="">
                                </a>
                                <h5 class="related__post-title">The Art Of Visual Storytelling.</h5>
                            </li>
                        </ul>
                    </div>

                </article>


                <div class="comments-wrap">

                    <div id="comments" class="column large-12">

                        <h3 class="h2">All Comments Blow</h3>
                        <ol class="commentlist">
                            <!-- START commentlist -->
                            <% if(post.comments.length===0) {%>
                                <p class="no-comment">There is no Commnets</p>

                                <% }else{ %>


                                    <% for(let comment of post.comments.reverse()){%>
                                        <li class="depth-1 comment">

                                            <div class="comment__avatar">
                                                <img class="avatar" src="<%=comment.user.profilePics %>"
                                                    alt="profilePics" width="50" height="50">
                                            </div>

                                            <div class="comment__content">
                                                <div class="comment__info">
                                                    <div class="comment__author">
                                                        <%= comment.user.username%>
                                                    </div>

                                                    <div class="comment__meta">
                                                        <div class="comment__time">
                                                            <%=moment(comment.createdAt)%>
                                                        </div>
                                                        <div class="comment__reply">
                                                            <a class="comment-reply-link">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="comment__text">
                                                    <p>
                                                        <%=comment.body%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-field">
                                                <input name="cName" id="cName" class="full-width field-disable"
                                                    placeholder="press enter to reply" value="" type="text"
                                                    data-comment="<%=comment._id%>">
                                            </div>
                                            <% if(comment.replies.length> 0) {%>
                                                <ul class="children">

                                                    <% for(let reply of comment.replies) {%>
                                                        <li class="depth-2 comment">

                                                            <div class="comment__avatar">
                                                                <img class="avatar" src="<%= reply.user.profilePics%>"
                                                                    alt="" width="50" height="50">
                                                            </div>

                                                            <div class="comment__content">

                                                                <div class="comment__info">
                                                                    <div class="comment__author">
                                                                        <%= reply.user.username%>
                                                                    </div>

                                                                    <div class="comment__meta">
                                                                        <div class="comment__time">
                                                                            <%=moment(reply.createdAt)%>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="comment__text">
                                                                    <p>
                                                                        <%=reply.body%>
                                                                    </p>
                                                                </div>


                                                            </div>


                                                        </li>
                                                        <%}%>

                                                </ul>
                                                <%}%>





                                        </li>
                                        <%}%>



                                            <% } %>
                        </ol>




                        <!-- END commentlist -->

                    </div> <!-- end comments -->

                    <div class="column large-12 comment-respond">

                        <!-- START respond -->
                        <div id="respond">

                            <h3 class="h2">Add A Comment </h3>

                            <form name="" id="contactForm" onsubmit="return false">
                                <fieldset>
                                    <div class="message form-field">
                                        <textarea name="cMessage" id="cMessage" class="full-width"
                                            placeholder="Your Message" data-post="<%= post._id%>"></textarea>
                                    </div>

                                    <input name="submit" id="submit"
                                        class="btn btn--primary btn-wide btn--large full-width" value="Add Comment"
                                        type="submit">

                                </fieldset>
                            </form>
                            <!-- end form -->

                        </div>
                        <!-- END respond-->

                    </div> <!-- end comment-respond -->

                </div> <!-- end comments-wrap -->
            </main>

        </div> <!-- end s-content -->



        <!-- footer   ================================================== -->
        <%- include('./partials/footer.ejs') %>
            <!-- footer end -->